html, body, h2, h3, h4, div, p, ul, li, input {
   font-family: serif;
}

body {
        margin: 0px;
        border: 0px;
        padding: 0px;      
        vertical-align: middle;
        background: #fff;
}

pre {
        font: 1em monospace;
        background: #F0F2F4;
        margin: 8px;
        border: 0px;
        border-color: #55F;
        border-style: solid;
        padding: 8px;
        color: #118;
}

a {}

a:link {
        font-weight: bold;
        text-decoration: none;
        color: #20a;
        }
a:visited {
        font-weight: bold;
        text-decoration: none;
        color: #24f;
        }
a:hover, a:active {
        text-decoration: underline;
        color: #289;
        }

DT {
        display: run-in;
        }


/* header */
div.header div.header_contents {
        min-height:     160px;
        text-align:     right;
        background-image:       url(/Images/montre.gif);
        background-position:    left center;
        background-repeat:      no-repeat;
}

div.header {
        font-family: sans-serif;
        margin: 0px;
        border-color: #009;
        border-style: solid;
        border-width: 0px;
        border-bottom-width: 2px;
        padding: 8px;
        padding-left: 100px;
        background: #fff;
        background-image: url(../Images/head_gradient.png);
        background-repeat: repeat-y;
        text-align: left;
}

div.header_text {
        font-family: sans-serif;
        text-align: right;
}

div.header h1, h1.header {
        font: bold normal small-caps 3em sans-serif ;
        letter-spacing: 1px;
        margin-top: 0.5ex;
        margin-bottom: 0.5ex;
        text-align: right;
        color: #0020a0;
        }
div.header h2, h2.header {
        font: normal 2.5em serif;
        letter-spacing: 1px;
        margin-bottom: 0px;
        text-align: right;
        color: #002070;
        }
h3.header {
        font: normal 2em sans-serif;
        letter-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: right;
        color: #002050;
        }

a.header {
        font-family: sans-serif;
        }

a.header:link {
        font-variant: small-caps;
        font-weight: bold;
        text-decoration: none;
        color: #e22;
        }
a.header:visited {
        font-variant: small-caps;
        font-weight: bold;
        text-decoration: none;
        color: #d11;
        }
a.header:hover, a.header:active {
        font-variant: small-caps;
        text-decoration: underline;
        color: #f33;
        }

/* Logo */
img.logo {
        float: left;
}

/* Langue (english/fran<E7>ais) */
div.menulang {
        font-family: sans-serif;
        float: left;
}

/* Menu */
div.menu {
        /*background-color: #fd0;*/
        background-color: #fe0;
        font: 1em sans-serif;
        margin: 0px;
        /*margin-top: 16px;
        margin-bottom: 16px;
        margin-left: -48px;
        margin-right: -48px;*/
        border-color: #fd0;
        border-style: solid;
        border-width: 0px;
        border-top-width: 6px;
        border-bottom-width: 0px;
        padding: 2px;
        text-align: center;
}

a.menu:link {
        font-weight: bold;
        text-decoration: none;
        color: #009;
        }
a.menu:visited {
        font-weight: bold;
        text-decoration: none;
        color: #04a;
        }
a.menu:hover, a.menu:active {
        text-decoration: underline;
        color: #08f;
        }


/* main */
div.main {
        font: 1em/1.5em sans-serif;
        color: #000;
        border-color: #fd0;
        border-style: solid;
        border-width: 0px;
        border-top-width: 6px;
        border-bottom-width: 8px;
        margin: 0px;
        padding-left: 48px;
        padding-right: 48px;
        padding-bottom: 40px;
        text-align: left;
        background: #fff;
}

/* Sections */

div.main div, div.sec {
        margin: auto;
        margin-bottom: 16px;
        padding: 0px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 8px;
        background: #eef;
        text-align: justify;
}

div.fsec_border {
        float: right;
        /*width: 40%;*/
        margin: auto;
        margin-left: 16px;
        background: #fff;
}

div.fsec {
        /*float: right;
        width: 40%; */
        margin: 16px;
        margin-right: 0px;
        padding: 0px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 8px;
        /*background: #f8f8ff;*/
        background: #eef;
        border-color: #06b;
        border-style: solid;
        border-width: 3px;
        text-align: justify;
        marker-position: 
}

div.main div h1, h1.sec {
        font: bold normal 1.5em sans-serif;
        letter-spacing: 1px;
        margin-left: -32px;
        margin-bottom: 0px;
        color: #0050a0;
        text-align: left;
        }

/* sous-sections */

h2, h1.subsec {
        font: normal 1em sans-serif;
        letter-spacing: 1px;
        margin-left: -16px;
        margin-bottom: 0px;
        color: #0050a0;
        text-align: left;
        }

h3, h1.subsubsec {
        font: normal 0.8em sans-serif;
        letter-spacing: 1px;
        margin-left: -8px;
        margin-bottom: 0px;
        color: #0050a0;
        text-align: left;
        }

/* listes */
ul {
        margin-left: 0px;
        padding-left: 0px;
}

